table#ivmGallery{
    padding: .025%;
    width: 99%;
}

#ivmGallery td, #ivmGallery th {
    text-align: center;
}

.bsImageGallery .thumb-prev-cont{max-width: 150px; margin-left: 10px; width: 100%; display: inline-block;}

.clearfix{clear: both; display: block;}

.col-1{
    float: left; width: 99.99%;
}

.col-2{
    float: left; width: 49.99%;
}

.col-3{
    float: left; width: 33.33%;
}

.col-4{
    float: left; width: 24.99%;
}

.nodisplay{
    display: none;
}

body .bsImageGallery .button
{
	vertical-align: middle;
    font-size: 13px;    
}

body .bsImageGallery .button.button-large
{
    padding: 0 12px 30px;
}

.bsImageGallery .dashicons {
    font-size: 18px;
    vertical-align: middle;
    line-height: 19px;
}

.bsImageGallery .descText{
    height: 100px; resize: none; margin-top:5px;
}
